@using PruebaLogin.ViewModels
@using PruebaLogin.ViewModels.Login
@inject AuthService _AuthService
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">PruebaLogin</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> contador
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="usuarios-list">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> ListaUsuarios
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Lista_Roles">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> ListaRoles
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Lista_Permisos">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Lista_Permisos
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Gestion_roles_permisos">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Gestionar_Per
            </NavLink>
        </div>

    </nav>
</div>