@using PruebaLogin.Models.Data
@using PruebaLogin.Models.Roles
@using PruebaLogin.ViewModels.RolController
@inject AppDbContext _context
@inject RolService _rolService
@inject NavigationManager navManagers

<h3>Gestion de Roles</h3>
<EditForm Model="roles2" OnValidSubmit="GuardarRol">
    <DataAnnotationsValidator/>

    <div class="form-floating mb-3">
        <InputText class="form-control" id="nombre" @bind-Value="roles2.NombreRol" />
        <label for="nombre">Nombre Completo</label>
        <ValidationMessage For="@(() => roles2.NombreRol)" />
    </div>

</EditForm>
    <button type="submit" class="btn btn-success">Registrar Rol</button>

@if (!string.IsNullOrEmpty(mensajeError))
{
    <div class="alert alert-danger mt-3">@mensajeError</div>
}
@if (!string.IsNullOrEmpty(mensajeExito))
{
    <div class="alert alert-success mt-3">@mensajeExito</div>
}

@code{
    private Roles2 roles2 = new Roles2();
    private string mensajeError;
    private string mensajeExito;
    private async Task GuardarRol()
    {
        var resultado = await _rolService.AgregarRolAsync(roles2);

        if (resultado.Exito)
        {
            mensajeExito = "Usuario registrado correctamente.";
            mensajeError = string.Empty;
            roles2 = new Roles2();
        }
        else
        {
            mensajeError = resultado.Error;
            mensajeExito = string.Empty;
        }
    }
    private void Cancelar()
    {
        navManagers.NavigateTo("/");
    }
}